@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 h2 h3 {
    font-weight: 500;
}

h4 h5 p li {
    font-weight: 300;
}

p li {
    font-size: 5px;
}

.navbar-expand-lg .navbar-brand {
    font-family: 'Caveat', cursive;
}

.navbar-brand{
    width: 100px;
}

.navbar .container {
    margin: 0;
}

.container {
    margin-top: 90px;
    margin-bottom: 15px;
}

.container .row .col-sm-8 .icons {
    justify-content: space-evenly;
}

.textdiv {
    background-image: url(../img/bg-portfolio.png);
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}

.portafolio { 
    justify-content: space-evenly;
    margin-top: -80px;
}

footer {
}