@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;1,300;1,500&family=Julius+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

h1 h2 h3 {
    font-weight: 500;
}

h5 {
    font-style: italic;
    font-size: 15px;
}

h4 h5 p li {
    font-weight: 300;
}

p {
    font-size: 14px;
}

.navbar-expand-lg .navbar-brand {
    font-style: italic;
}

.navbar-brand{
    width: 100px;
}

.navbar .container {
    margin: 0;
    padding-left: 100px;
}

.container {
    margin-top: 90px;
    margin-bottom: 5px;
}

.container .row .col-sm-8 .icons {
    justify-content: space-evenly;
}

.textdiv {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    background-color: rgb(12, 12, 12);
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
}

.portafolio { 
    margin-top: -90px;
    background-color: rgb(12, 12, 12);
    padding-bottom: 10px;

}

main {
    margin: 85px;
}

main h3 { 
    text-align: center;
}

footer {
    background-color: rgb(41, 39, 39);
    color: white;
    text-align: center;
}